<div class="container">
  <% @blogs.each do |blog| %>
  <div class="card-blog" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path blog.photos.first.key, height: 400, crop: :fill %>')"">
    <%= link_to blog_path(blog) do %>
    <div class="title-blog">
      <h4><%= blog.title.upcase.truncate(35)%></h4>
      <div class="d-none d-sm-block">

      <div class="auteur-blog">
        <span class="m-1"> <%= blog.user.first_name.capitalize %> <%= blog.user.last_name.split("").first.capitalize %>.</span><%= cl_image_tag blog.user.photo.key, width: 150, crop: :thumb, gravity: :face, class: "avatar" %>
      </div>
        <span><%= blog.created_at.strftime("%d %m %Y") %></span>
      </div>
    </div>
    <% end %>
    <div class="blog-text-index">
      <span> <%= strip_tags(blog.rich_body.to_s).truncate(600)  %></span>
      <%= link_to blog_path(blog) do %>
      <p class="text-blue"><strong>En savoir plus</strong></p>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
