<div class="container">
<% @blogs.each do |blog| %>
            <%= link_to blog_path(blog) do %>
<div class="mt-1 card-blog">
      <div class="bg-img-blog"
         style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path blog.photos.first.key, width: 400, crop: :fit %>')">
        <div class="p-4 text-white title-blog">
            <h3 class="mb-2 font-weight-bold"><%= blog.title.upcase.truncate(35) %></h3>
            <div class:"auteur-blog">
              <span class="mr-4"> posté par : <%= blog.user.first_name %></span><%= cl_image_tag blog.user.photo.key, width: 150, crop: :thumb, gravity: :face, class: "avatar" %>
            </div>
        </div>
        <div class="p-2 blog-text-index">
          <p><%= strip_tags(blog.rich_body.to_s).truncate(600)  %></p>
          <div class="mt-4 d-flex align-items-end justify-content-between img-avatar-blog">
            <%= link_to blog_path(blog) do %>
            <p class="text-blue"><strong>En savoir plus</strong></p>
            <% end %>
          </div>
        </div>
    </div>
</div>
<% end %>
<% end %>
</div>
