<div class="container background pt-1">
  <div class="blog-title text-center">
    <h1><%= @blog.title.capitalize %></h1>
  </div>
  <span>posté le :<%= @blog.created_at.strftime("%d %m %Y") %> par <%= @blog.user.first_name%><%= cl_image_tag @blog.user.photo.key, width: 150, crop: :thumb, gravity: :face, class: "avatar-small" %></span>
  <div id="blog-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% @blog.photos.each_with_index do |photo, n| %>
        <li data-target='#blog-carousel' data-slide-to="<%= n+1 %>" class="<%='active' if n == 0%>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner rounded">
      <% @blog.photos.each_with_index do |photo, n| %>
      <div class="carousel-item <%= "active" if n == 0 %>">
        <img class="d-block w-100" src="<%= cl_image_path photo.key, width: 800, height: 600, crop: :fill   %>" alt="<%= n+1 %> slide">
      </div>
      <% end %>

    </div>
    <a class="carousel-control-prev" href="#blog-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#blog-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="blog-text rounded">
    <%= @blog.rich_body  %>
  </div>
  <% if @blog.user_id == current_user %>
  <button type="button" class="btn btn-gradient w-100" data-toggle="modal" data-target="#editBlog">
      Modifier l'article
    </button>
    <%= link_to "Effacer",
                blog_path(@blog),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: "mr-4 text-danger" %>
  <% end %>
<div>

  <!-- modal blog-->
  <div class="modal fade" id="editBlog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Tu peux modifier l'article !</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
              <%= render "form", projects: @blog %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
