<%= simple_form_for(@project)  do |f| %>
  <div class="form-inputs">
    <%= f.input :name, input_html: { placeholder: "Nom du projet" } %>
    <span>Deadline</span>
    <%= f.text_field :deadline, data: { behavior: "flatpickr"}  %>
    <%= f.input :budget, input_html: { placeholder: "One million dollars !! " } %>
    <%= f.input :photo %>
  </div>
  <div class="form-inputs bg-white p-1 rounded">
    <span>Descriptif du projet :</span>
    <%= f.rich_text_area :rich_body, placeholder: 'Tu peux commencer à écrire ici...         Il est possible d\'insérer des images.' %>
  </div>
  <div class="mt-2 mb-2 pb-1 form-actions text-white container text-center">
    <%= f.button :submit, "Créer/Modifier un projet", class: "btn btn-gradient" %>
  </div>
<% end %>
