
<div class="project background container pt-2 pb-2 mt-1">
    <div class="background-img rounded"
         style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path @project.photo.key, width: 1200, height: 500, crop: :fill %>')">
        <div class="p-2 d-flex justify-content-between text-white h-100">
            <h1 class="project-title mb-2 w-50"><%= @project.name %></h1>
            <div class="d-flex flex-column justify-content-between">
              <p id="pourcentage"><%= @project.project_advancement.round %>% réalisé !</p>
              <p class="mb-2"> à terminer avant : <%= @project.deadline.strftime("%d %m %Y") %> (encore <%= -@project.day_until_end  %> jours)</p>
            </div>
        </div>
    </div>
    <div class="mt-4 d-flex justify-content-between">
      <button type="button" class="btn btn-gradient" data-toggle="modal" data-target="#editProject">
        Modifier le projet
      </button>

        <%= link_to "Effacer",
        project_path(@project),
        method: :delete,
        data: { confirm: "Es-tu certain ?" },
        class: "mr-4 text-danger" %>

    </div>


    <div id="igXPBar" style="opacity: 1; display: block;">
      <div id="igXPBarProg" style="background-color: rgb(251, 192, 45); width: <%= @project.project_advancement %>%;"></div>
    </div>


    <div class="p-2 mt-2 bg-white rounded">
      <p class="text-gray"><%= @project.rich_body  %></p>
      <div class="d-flex justify-content-between row">

        <div class="tasks-display tasks p-2 border col-md-4 col-lg-4 col-12 col-sm-6">
          <div class="card-tasks">
            <u><p>Liste des tâches :</p></u>
          <% @tasks.each do |task| %>
            <li class="my-2 d-flex justify-content-between">
            <p <% if task.completed == true %> class="checked"<% end %>><%= task.name.capitalize %></p>
            <div>
              <%= form_for [ @project, task] do |f| %>
              <div class="btn-box">
                <%= f.check_box :completed, onclick: "(this).closest('form').submit();"%>
              </div>
              <% end %>
            <% end %>
            </div>
            </li>
            <div class="text-center d-flex align-items-end justify-content-around">
              <button type="button" class="btn btn-gradient" data-toggle="modal" data-target="#addTask">
                Ajouter une tâche
              </button>
              <button type="button" class="btn btn-gradient" data-toggle="modal" data-target="#editTasks">
                Modifier les tâches
              </button>
            </div>
          </div>
          </div>

    <div class="tasks-display tasks p-2 border col-md-4 col-lg-3 col-12 col-sm-5">
      <div class="card-buys">
        <u><span>Liste des achats :</span></u>
        <% @buyings.each do |buying| %>
        <li class="my-2 d-flex">
          <span><%= buying.number %>&nbspx&nbsp</span>
          <span> <%= buying.name.capitalize %> </span>(<span> <%= buying.value.round(2) %>€ </span>)
          <span>&nbsp=&nbsp<%= (buying.number * buying.value).round(2)  %> €</span>
          <% end %>
        </li>
        <hr class="m-2 p-1">
        <div class="text-right m-2">
          <span class="m-2 h4">Total : <%= @project.value_project.round(2)  %> €</span>
        </div>
        </div>
        <div class="text-center d-flex align-items-end justify-content-center">
          <button type="button" class="btn btn-gradient" data-toggle="modal" data-target="#addBuying">
            Ajouter/modifier un achat
          </button>
          <!-- <button type="button" class="btn btn-gradient" data-toggle="modal" data-target="#editBuyings">
            Modifier les achats
          </button> -->
      </div>
    </div>

    <div class="tasks-display tasks p-2 border col-md-4 col-lg-4 col-12 col-sm-6">
      <u><span class="text-center"> Qui était la ? </span></u>
      <div class="card-whos">

        <% @usersprojects_past.each do |userproject| %>
        <li>
          <span><%= cl_image_tag userproject.user.photo.key, width: 150, crop: :thumb, gravity: :face, class: "avatar-small" %><strong><%= userproject.user.first_name.capitalize %></strong> <strong><%= userproject.user.last_name.split("").first.capitalize %>.</strong> du <%= userproject.date_start.strftime("%d %m %Y") %> au <%= userproject.date_end.strftime("%d %m %Y") %></span>
        </li>
          <% end %>
      <u><span class="text-center"> Qui sera la ? </span></u>
      <% @usersprojects_futur.each do |userproject| %>
      <li>
        <span><%= cl_image_tag userproject.user.photo.key, width: 150, crop: :thumb, gravity: :face, class: "avatar-small" %><strong>
        <%= userproject.user.first_name.capitalize %></strong> <strong><%= userproject.user.last_name.split("").first.capitalize %>.</strong>
        du <%= userproject.date_start.strftime("%d %m %Y") %> au <%= userproject.date_end.strftime("%d %m %Y") %>
        <% if userproject.user_id == current_user %>
          <%= link_to edit_project_usersproject_path(@project, userproject), class: 'edit-button' do %>
          <%= icon('fas', 'wrench')  %>
          <% end %>
        <% end %>
       </span>
      </li>
        <% end %>
      </div>
      <div class="btn-bottom text-center d-flex align-items-end justify-content-center">
      <button type="button" class="btn btn-gradient bottom" data-toggle="modal" data-target="#joinProject">
        Rejoindre le projet
      </button>
    </div>
      </div>
    </div>
    <div class="comments mt-2">
        <% @comments.each do |comment| %>
        <div class="comment-msg">
        <div class="d-flex">
          <div>
            <%= cl_image_tag comment.user.photo.key, width: 150, crop: :thumb, gravity: :face, class: "avatar-small" %>
          </div >
          <span class="p-1">De <%= comment.user.first_name %> le :<%= comment.created_at.strftime("%d %m %Y") %></span>
        </div>
        <div class="p-1">
          <%= comment.rich_body %>
        </div>
      </div>
      <% end %>
      <div class="text-center">
          <button type="button" class="btn btn-gradient text-center" data-toggle="modal" data-target="#Question">
            Poser une question ?
          </button>
        </div>
    </div>
  </div>
</div>

<!-- modal projet-->
<div class="modal fade" id="editProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Vous pouvez modifier les données</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
            <%= render "form", projects: @project %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal achat-->
<div class="modal fade" id="addBuying" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Merci de noter le nom, la quantité et le prix unitaire. </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for [ @project, @buying ], :remote => true do |f| %>
          <div class="form-inputs">
            <%= f.input :name, placeholder: "Description(nom)" %>
            <%= f.input :number, placeholder: "Nb unité" %>
            <%= f.input :value, placeholder: "Prix unitaire" %>
          </div>
          <div class="mt-2 form-actions container text-center">
            <%= f.button :submit, "Ajouter un achat", class: "btn btn-gradient" %>
          </div>
          <% end %>
        </div>
        <div class="container mt-2">
          <% @buyings.each do |buying| %>
            <li>
              <span><%= buying.name.capitalize %></span>
              <span> <%= link_to "Modifier", edit_project_buying_path(@project, buying) %></span>
              <%= link_to "Effacer",
              project_buying_path(@project, buying),
              method: :delete,
              data: { confirm: "Es-tu certain ?" },
              class: "mr-4 text-danger" %>
            </li>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal taches-->
<div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Merci d'inscrire le nom de la tâche</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for [ @project, @task ], :remote => true do |f| %>
          <div class="form-inputs">
            <%= f.input :name, placeholder: "Description de la tâche" %>
          </div>
          <div class="mt-2 form-actions container text-center modal-footer">
            <%= f.button :submit, class: "btn btn-gradient" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal rejoindre le projet-->
<div class="modal fade" id="joinProject" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Quand es-tu dispo ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <%= simple_form_for [ @project, @usersproject ] do |f| %>
          <div class="form-inputs flatpickr">
            <span>Date de début</span>
            <%= f.text_field :date_start, data: { behavior: "flatpickr"} %>
            <span>Date de fin</span>
            <%= f.text_field :date_end, data: { behavior: "flatpickr"}  %>
          </div>
          <div class="mt-2 form-actions text-center modal-footer">
            <%= f.button :submit, "Rejoindre le projet ?", class: "btn btn-gradient" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal Questions-->
<div class="modal fade" id="Question" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class=" modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Quelle tâche veux-tu modifier ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-between">
        <div class="container">
          <%= simple_form_for [ @project, @comment ] do |f| %>
          <div class="form-inputs">
            <%= f.rich_text_area :rich_body, placeholder: 'Tu peux commencer à écrire ici...         Il est possible d\'insérer des images.' %>
          </div>
          <div class="mt-2 form-actions container text-center modal-footer">
            <%= f.button :submit, class: "btn btn-gradient" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal modifier les taches-->
<div class="modal fade" id="editTasks" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Quelle tâche veux-tu modifier ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column justify-content-between">
        <% @tasks.each do |task| %>
        <div class="">
           <span><%= task.name.capitalize %></span>
           <span> <%= link_to "Modifier", edit_project_task_path(@project, task) %></span>
           <%= link_to "Effacer",
           project_path(@project, task),
           method: :delete,
           data: { confirm: "Es-tu certain ?" },
           class: "mr-4 text-danger" %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  </div>
