
<div class="">
    <div class="background-img"
         style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path @project.photo.key, width: 1000, height: 500, crop: :fill %>')">
        <div class="p-2 d-flex justify-content-between text-white h-100">
            <h1 class="mb-2 w-50"><%= @project.name %></h1>
            <div class="d-flex align-items-end">
              <p class="mb-2 text-1xl"> à terminer avant : <%= @project.deadline.strftime("%d %m %Y") %></p>
            </div>
        </div>
    </div>
    <div class="p-4">
      <div>
          <p class="text-gray"><%= @project.rich_body  %></p>
          <div class="d-flex justify-content-around">
            <div class="tasks-display p-2 border">
                  <% @tasks.each do |task| %>
                  <li class="my-2">
                  <span><%= task.name %></span>
                  <%# <%= simple_form_for [ @project, task] do |f| %>
                    <!-- <div class="btn-box">
                      <%# <%= f.input :completed, input_html: { class: 'toggle'   %> %>
                    </div> -->
                  <%# <% end %>
                  <% end %>
                </li>
                <div class="d-flex align-items-end justify-content-center">
                <%= link_to "Ajouter une tâche",
                new_project_task_path(@project),
                class: "btn btn-primary" %>
              </div>
          </div>

          <div class="tasks-display p-2 border">
            <div>
                  <% @buyings.each do |buying| %>
                  <li class="my-2">
                    <span><%= buying.number %></span> x
                    <span><%= buying.name %></span>(<span><%= buying.value %></span>)
                    <span>= <%= buying.number * buying.value  %> €</span>
                  <%# <%= simple_form_for [ @project, task] do |f| %>
                    <!-- <div class="btn-box">
                      <%# <%= f.input :completed, input_html: { class: 'toggle'   %> %>
                    </div> -->
                  <%# <% end %>
                  <% end %>
                </li>
                <hr class="m-2 p-1">
                <div class="text-right m-2">
                  <span class="m-2">Total : <%= @project.value_project  %> €</span>
                </div>
        </div>
        <div class="text-center d-flex align-items-end justify-content-center">
          <%= link_to "Ajouter un achat",
          new_project_buying_path(@project),
          class: "btn btn-primary" %>
        </div>
        </div>
      </div>


        <div class="mt-4 flex justify-between">
            <%= link_to "Modifier le projet", edit_project_path(@project), class: "mr-4 text-blue-500" %>
            <%= link_to "Effacer",
                        project_path(@project),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "mr-4 text-red-400" %>
        </div>
    </div>
</div>
