  <div class="container">
    <p><%= @project.house.name %></p>
    <p><%= @project.name %></p>
    <p><%= @project.content %></p>
    <p><%= @project.budget %>€</p>
    <p><%= @project.deadline %></p>
  </div>
