<%= simple_form_for [ @project, @buying ] do |f| %>
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :number %>
  <%= f.input :value %>
</div>
<div class="mt-2 form-actions container text-center">
  <%= f.button :submit, class: "btn btn-gradient" %>
</div>
<% end %>
